version: '3'

services:
  postgres:
    image: postgres:11-alpine
    expose:
      - 5432
    volumes:
      - postgres:/var/lib/postgresql/data
  assets:
    image: lucky_docker
    command: yarn watch
    volumes:
      - .:/lucky/web
  web:
    image: lucky_docker
    command: lucky watch --reload-browser
    build: .
    ports:
      - 5000:5000
      - 3001:3001
      - 3000:3000
    volumes:
      - .:/lucky/web
    links:
      - postgres

volumes:
  postgres:
